---
layout: default
title: Ploceus - Agence Shopify Spécialisée
---

<style>
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
  body {
    font-family: "Inter", sans-serif;
  }
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px; /* Add padding for fixed header */
  }
</style>
<link rel="stylesheet" href="src/output.css">
<div>
</div>
{% include header.html %}
<div class="bg-black">
<div id="hero">
{% include hero.html %}
</div>
<div id="cloud-logo">
{% include cloud-logo.html %}
</div>
<div id="a-propos">
{% include a-propos.html %}
</div>
<div id="expert">
{% include expert.html %}
</div>
<div id="temoignages">
{% include temoignages.html%}
</div>
<div id="contact">
{% include contact.html %}
</div>
</div>

{% include footer.html %}
