<section id="case-study" class="flex flex-col gap-48">
  <div class="hero w-4/5 mx-auto">
    <div class="hero-content flex-col gap-24 lg:flex-row">
      <div class="mockup-phone">
        <div class="mockup-phone-camera"></div>
        <div class="mockup-phone-display w-full h-fit">
          <img
            alt="wallpaper"
            src="/assets/images/lafermeaelise.com_(iPhone 12 Pro).png"
            class="w-full max-h-[1200px] object-cover"
          />
        </div>
      </div>
      <div>
        <h3 class="text-7xl lg:text-5xl font-bold">
          Étude de cas : La Ferme à Élise
        </h3>
        <p class="py-6 text-3xl lg:text-base">
          Découvrez comment nous avons transformé le site de La Ferme à Elise
          pour en faire un véritable levier de croissance, en optimisant
          l'expérience client et en accélérant leur cycle de vente.
        </p>
        <button
          id="case-study-button"
          class="btn btn-xl text-3xl lg:text-base lg:btn-md btn-primary"
        >
          Comment un site peut doubler votre clientèle
        </button>
      </div>
    </div>
  </div>
  <div
    id="case-study-2"
    hidden
    class="opacity-0 gap-16 w-4/5 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6 transition-opacity duration-500 ease-in-out"
  >
    <div class="font-light sm:text-lg">
      <h2 class="mb-4 text-7xl lg:text-5xl tracking-tight font-extrabold">
        🚀 Avant notre intervention
      <p class="mb-4 text-3xl lg:text-base">
        📍 Un positionnement gagnant
        Nous avons propulsé La Ferme à Elise en haut des résultats Google, renforçant sa visibilité locale à Saint-Cergues et maximisant son potentiel de réservation en ligne.
      </p>
      <p class="text-3xl lg:text-base">
        We are strategists, designers and developers. Innovators and problem
        solvers. Small enough to be simple and quick.
      </p>
    </div>
    <div class="grid grid-cols-2 gap-4 mt-8">
      <img
        class="w-full rounded-lg"
        src="\assets\images\lafermeaelise.com_(iPhone 12 Pro) (1).png"
        alt="office content 1"
      />
      <img
        class="mt-4 w-full lg:mt-10 rounded-lg"
        src="\assets\images\lafermeaelise.com_(iPhone 12 Pro)3.png"
        alt="office content 2"
      />
    </div>
  </div>

  <div
    id="case-study-1"
    hidden
    class="overflow-hidden opacity-0 transition-opacity duration-500 ease-in-out"
  >
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div
        class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
      >
        <div class="lg:pt-4 lg:pr-8">
          <div class="lg:max-w-lg">
            <h2 class="text-7xl lg:text-5xl font-bold">Deploy faster</h2>
            <p class="mt-6 text-3xl lg:text-base">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores
              impedit perferendis suscipit eaque, iste dolor cupiditate
              blanditiis ratione.
            </p>
            <dl
              class="mt-10 max-w-xl space-y-8 text-3xl lg:text-base lg:max-w-none"
            >
              <div class="relative pl-16">
                <dt class="inline font-semibold">
                  <svg
                    class="absolute top-1 left-1 w-10 h-10 lg:w-5 lg:h-5"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    data-slot="icon"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M5.5 17a4.5 4.5 0 0 1-1.44-8.765 4.5 4.5 0 0 1 8.302-3.046 3.5 3.5 0 0 1 4.504 4.272A4 4 0 0 1 15 17H5.5Zm3.75-2.75a.75.75 0 0 0 1.5 0V9.66l1.95 2.1a.75.75 0 1 0 1.1-1.02l-3.25-3.5a.75.75 0 0 0-1.1 0l-3.25 3.5a.75.75 0 1 0 1.1 1.02l1.95-2.1v4.59Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  Push to deploy.
                </dt>
                <dd class="inline">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Maiores impedit perferendis suscipit eaque, iste dolor
                  cupiditate blanditiis ratione.
                </dd>
              </div>
              <div class="relative pl-16">
                <dt class="inline font-semibold">
                  <svg
                    class="absolute top-1 left-1 w-10 h-10 lg:w-5 lg:h-5"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    data-slot="icon"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 1a4.5 4.5 0 0 0-4.5 4.5V9H5a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2h-.5V5.5A4.5 4.5 0 0 0 10 1Zm3 8V5.5a3 3 0 1 0-6 0V9h6Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  SSL certificates.
                </dt>
                <dd class="inline">
                  Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure
                  qui lorem cupidatat commodo.
                </dd>
              </div>
              <div class="relative pl-16">
                <dt class="inline font-semibold">
                  <svg
                    class="absolute top-1 left-1 w-10 h-10 lg:w-5 lg:h-5"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    data-slot="icon"
                  >
                    <path
                      d="M4.632 3.533A2 2 0 0 1 6.577 2h6.846a2 2 0 0 1 1.945 1.533l1.976 8.234A3.489 3.489 0 0 0 16 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234Z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M4 13a2 2 0 1 0 0 4h12a2 2 0 1 0 0-4H4Zm11.24 2a.75.75 0 0 1 .75-.75H16a.75.75 0 0 1 .75.75v.01a.75.75 0 0 1-.75.75h-.01a.75.75 0 0 1-.75-.75V15Zm-2.25-.75a.75.75 0 0 0-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 0 0 .75-.75V15a.75.75 0 0 0-.75-.75h-.01Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  Database backups.
                </dt>
                <dd class="inline">
                  Ac tincidunt sapien vehicula erat auctor pellentesque rhoncus.
                  Et magna sit morbi lobortis.
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <img
          src="\assets\images\www.google.com_recherche-restaurant_st_cergues.png"
          alt="Product screenshot"
          class="w-[48rem] max-w-none rounded-xl shadow-xl ring-1 sm:w-[57rem] md:-ml-4 lg:-ml-0"
          width="2432"
          height="1442"
        />
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const btn = document.getElementById("case-study-button");
    const sections = [
      document.getElementById("case-study-1"),
      document.getElementById("case-study-2"),
    ];
    btn.addEventListener("click", () => {
      sections.forEach((sec) => {
        if (sec.hasAttribute("hidden")) {
          sec.removeAttribute("hidden");
          sec.classList.remove("opacity-0");
          sec.classList.add("opacity-100");
        } else {
          sec.classList.remove("opacity-100");
          sec.classList.add("opacity-0");
          setTimeout(() => sec.setAttribute("hidden", ""), 500);
        }
      });
    });
  });
</script>
