<section class="mx-auto my-48 w-4/5 flex flex-col gap-12">
  <h2 class="text-7xl lg:text-5xl text-center mx-auto font-bold mb-12">
    Ne nous croyez pas nous, croyez-les eux :
  </h2>
  <div class="chat h-fit chat-start">
    <div class="chat-image avatar">
      <div class="w-36 rounded-full">
        <img
          alt="Tailwind CSS chat bubble component"
          src="\assets\images\jerome_pellouxjpeg.jpeg"
        />
      </div>
    </div>
    <div class="chat-header text-3xl pb-4">
      Jérôme Pelloux
      <a
        href="https://lafermeaelise.com"
        target="_blank"
        rel="noopener"
        class="text-2xl opacity-50 pl-4"
        >La Ferme à Élise</a
      >
    </div>
    <div class="chat-bubble text-3xl">
      Le webmaster qui sait écouter et transcrire votre vision en site internet.
      Tino a su nous poser les bonnes questions, afin de nous créer un site
      internet qui reflète l’ambiance exacte de notre établissement tout en
      respectant la charte graphique et les couleurs. Je le recommande vivement.
    </div>
  </div>
  <div class="chat h-fit chat-end">
    <div class="chat-image avatar">
      <div class="w-36 rounded-full">
        <img
          alt="Tailwind CSS chat bubble component"
          src="\assets\images\valerie_macheret.jpeg"
        />
      </div>
    </div>
    <div class="chat-header text-3xl pb-4">
      Valérie Macheret
      <a
        class="text-2xl opacity-50 pl-4"
        href="https://charcuteriesavoie.com"
        target="_blank"
        rel="noopener"
        >Charcuterie Savoie</a
      >
    </div>
    <div class="chat-bubble text-3xl">
      Doté d'une grande capacité d'écoute et d'adaptation, Tino a su créer notre
      nouveau site internet avec brio. Grâce à sa réalisation, notre marque a
      enfin trouvé sa véritable image et identité, à savoir authentique et
      moderne. Ainsi, je suis en mesure de le recommander sans hésiter.
    </div>
  </div>
</section>
