<section class="mx-auto my-48 w-4/5 flex flex-col gap-12">
  <h2 class="text-7xl text-center w-4/5 mx-auto font-bold mb-12">Ne nous croyez pas nous, croyez-les eux :</h2>
  <div class="chat chat-start gap-8">
    <div class="chat-image avatar">
      <div class="w-36 rounded-full">
        <img
          alt="Tailwind CSS chat bubble component"
          src="\assets\images\jerome_pellouxjpeg.jpeg"
        />
      </div>
    </div>
    <div class="chat-header text-5xl">Jérôme Pelloux</div>
    <div class="chat-bubble text-3xl">
      Le webmaster qui sait écouter et transcrire votre vision en site internet.
      Tino a su nous poser les bonnes questions, afin de nous créer un site
      internet qui reflète l’ambiance exacte de notre établissement tout en
      respectant la charte graphique et les couleurs. Je le recommande vivement.
    </div>
  </div>
  <div class="chat chat-end gap-8">
    <div class="chat-image avatar">
      <div class="w-36 rounded-full">
        <img
          alt="Tailwind CSS chat bubble component"
          src="\assets\images\valerie_macheret.jpeg"
        />
      </div>
    </div>
    <div class="chat-header text-5xl">Valérie Macheret</div>
    <div class="chat-bubble text-3xl">
      Doté d'une grande capacité d'écoute et d'adaptation, Tino a su créer notre
      nouveau site internet avec brio. Grâce à sa réalisation, notre marque a
      enfin trouvé sa véritable image et identité, à savoir authentique et
      moderne. Ainsi, je suis en mesure de le recommander sans hésiter.
    </div>
  </div>
</section>
