<section class="mx-auto my-48 w-3/4">
  <div class="hero">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
        <h1 class="text-7xl font-bold">Login now!</h1>
        <p class="py-6 text-4xl">
          Vous avez une idée ou un projet à concrétiser ? Contactez-nous pour
          bénéficier d'un accompagnement personnalisé !
        </p>
      </div>
      <fieldset
        class="fieldset w-xl bg-base-200 border border-base-300 p-4 rounded-box"
      >
        <legend class="fieldset-legend text-3xl">Formulaire de contact</legend>

        <label class="fieldset-label text-3xl">Votre nom</label>
        <input
          type="text"
          class="input file-input-xl text-4xl"
          placeholder="Nom"
        />

        <label class="fieldset-label text-3xl">Votre email</label>
        <input
          type="email"
          class="input file-input-xl text-4xl"
          placeholder="Email"
        />

        <label class="fieldset-label text-3xl">Votre site web</label>
        <input
          type="url"
          class="input file-input-xl text-4xl"
          placeholder="Site Web"
        />

        <input
          type="submit"
          class="btn btn-neutral btn-xl text-4xl mt-4"
          value="Envoyer "
        />
      </fieldset>
    </div>
  </div>
  <div class="mockup-browser border border-base-300 w-full">
    <div class="mockup-browser-toolbar">
      <div class="input">https://votre-nouveau-site.com</div>
    </div>
    <div
      class="hero h-96"
      style="background-image: url('{{ '/assets/images/tino_working.webp' | relative_url }}');"
    >
      <div class="hero-content text-neutral-content text-center"></div>
    </div>
  </div>
</section>
