<section class="mx-auto my-24 w-3/4">
  <div class="hero min-h-screen">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold">Login now!</h1>
        <p class="py-6">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
          excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
          id nisi.
        </p>
      </div>
      <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
        <div class="card-body">
          <input
            type="input"
            class="input validator"
            required
            placeholder="Nom"
            pattern="[A-Za-z][A-Za-z0-9\-]*"
            minlength="3"
            maxlength="30"
            title="Only letters, numbers or dash"
          />
          <p class="validator-hint">
            Doit être composé de 3 à 30 caractères <br />contenir uniquement des
            lettres, des chiffres ou des tirets.
          </p>
          <input
            class="input validator"
            type="email"
            required
            placeholder="mail@site.com"
          />
          <div class="validator-hint">Entrez une adresse Email valide</div>
          <input
            type="url"
            class="input validator"
            required
            placeholder="https://"
            value="https://"
            pattern="^(https?://)?([a-zA-Z0-9]([a-zA-Z0-9-].*[a-zA-Z0-9])?.)+[a-zA-Z].*$"
            title="Must be valid URL"
          />
          <p class="validator-hint">Entrez une URL valide</p>
        </div>
      </div>
    </div>
  </div>
  <div class="mockup-browser border border-base-300 w-full">
    <div class="mockup-browser-toolbar">
      <div class="input">https://votre-nouveau-site.com</div>
    </div>
    <div
      class="hero h-96"
      style="background-image: url('{{ '/assets/images/tino_working.webp' | relative_url }}');"
    >
      <div class="hero-content text-neutral-content text-center"></div>
    </div>
  </div>
</section>
